<style  type="text/css"> 
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111-003/V003 (Fall 2022)<br>Introduction to Databases
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 4: Both Tracks
</span>
</center></i>

## Setup Environment

### MySQL

In [1]:
%load_ext sql

In [2]:
import pymysql

In [3]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [4]:
#
# Note that your list of databases will be different.
#
%sql show databases;

 * mysql+pymysql://root:***@localhost
15 rows affected.

[('classicmodels',),
 ('columbia_university',),
 ('db_book',),
 ('f22_hw1_got',),
 ('f22_hw1_got_programming',),
 ('f22_hw2',),
 ('f22_midterm',),
 ('information_schema',),
 ('lahmansbaseballdb',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('w4111_f22_hw4',),
 ('world',)]

### Neo4j

- This section assume that you have set up Neo4j on Aura DB, installed the Movie database and that your interest is running. If you do not use your instance for a while, Aura suspends it. You will have to login and restart it.


- Since these are cloud databases, I put my credentials in a file instead of a notebook that I share with everyone and place on GitHub. You will have to set the correct information for your instances.

In [5]:
import sys
# sys.path.append('/Users/donaldferguson/Dropbox/00NewProjects/F22-W4111-HW4')

In [6]:
# import my_secrets

- You may have to install ```py2neo``` using pip or Conda.

In [7]:
# !pip install py2neo

In [6]:
from py2neo import Graph

In [7]:
aura_url = 'neo4j+s://142430a7.databases.neo4j.io'
aura_user = 'neo4j'
aura_pw = 'plDygPT9TKfZxnMB9poFcU0Bqlum7kw47-AHwFvg-uM'

In [8]:
def t1():
    graph = Graph(aura_url, auth=(aura_user, aura_pw))
    q = "match (r:Person) where r.name='Tom Hanks' return r"
    res = graph.run(q)

    for r in res:
        print(r)

In [9]:
t1()

Node('Person', born=1956, name='Tom Hanks')

### MongoDB

- This section assume that you have set up MongoDB on Atlas.


- You need to follow instructions to enable connecting from a remote [Python application.](https://www.mongodb.com/docs/atlas/tutorial/connect-to-your-cluster/)


- You also need to pip/Conda install pymongo.


- You will have to your URL for connecting.

In [12]:
# !pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.3

In [44]:
import pymongo

In [42]:
def connect():
    client = pymongo.MongoClient(
        'mongodb+srv://tedwu:W1fuq2peUOn5veXA@comp4111.rgzkcri.mongodb.net'
    )
    return client


def t_connect():
    c = connect()
    print("Databases = ", list(c.list_databases()))

In [15]:
# Your list of databases will be different. It may, be empty.
t_connect()

Databases =  [{'name': 'admin', 'sizeOnDisk': 380928, 'empty': False}, {'name': 'local', 'sizeOnDisk': 7493640192, 'empty': False}]

- The following will do some additional testing.

In [16]:
client = pymongo.MongoClient(
        'mongodb+srv://tedwu:No.25_Aminor@comp4111.rgzkcri.mongodb.net'
    )

In [17]:
client["testdb"]["testcollection"].insert_one(
    {
        "class": "W4111",
        "is_cool": True
    }
)

In [18]:
client["testdb"]["testcollection"].insert_one(
    {
        "professor": "Ferguson",
        "is_cool": "Seriously? Are you kidding me? Heck NO!"
    }
)

In [19]:
res = client["testdb"]["testcollection"].find()

In [20]:
some_info = list(res)
some_info

[{'_id': ObjectId('6395263843d7a3e7ae9d8a35'),
  'class': 'W4111',
  'is_cool': True},
 {'_id': ObjectId('6395263d43d7a3e7ae9d8a36'),
  'professor': 'Ferguson',
  'is_cool': 'Seriously? Are you kidding me? Heck NO!'}]

## Common Tasks for Both Tracks

### Load MongoDB Atlas

- The project contains two files: ```data/characters.json``` and ```data/episodes.json```.


- The following code snippets will load the information into lists. This is a little tricky because we need to extract the embedded array from the JSON object.

In [35]:
import json

In [36]:
with open ("data/characters.json") as in_file:
    characters = json.load(in_file)

In [37]:
characters = characters['characters']

In [38]:
characters[0:2]

[{'characterName': 'Addam Marbrand',
  'characterLink': '/character/ch0305333/',
  'actorName': 'B.J. Hogg',
  'actorLink': '/name/nm0389698/'},
 {'characterName': 'Aegon Targaryen',
  'houseName': 'Targaryen',
  'royal': True,
  'parents': ['Elia Martell', 'Rhaegar Targaryen'],
  'siblings': ['Rhaenys Targaryen', 'Jon Snow'],
  'killedBy': ['Gregor Clegane']}]

In [39]:
with open ("data/episodes.json") as in_file:
    episodes = json.load(in_file)

In [40]:
episodes = episodes['episodes']

- You now have two lists in the notebook. Save the documents in the array to Atlas using databases name ```hw4```. You must write Python code using ```pymongo``` to load the data.


- Put your code in the cells below and execute it.

In [45]:
# Your code here.
## Connect to MongoDB
client = connect()
## Access the database hw4, or create it if is not exist
db = client["hw4"]
## Switch to episodes collection
collection = db["episodes"]
## Insert episodes document to database
collection.insert_many(episodes)
## Switch to characters collection
collection = db["characters"]
## Insert characters document to database
collection.insert_many(characters)

- The following code will test that you have loaded the information.

In [46]:
ep = client['hw4']['episodes'].find_one(
    {"seasonNum": 1, "episodeNum": 1}
)

In [47]:
ep

{'_id': ObjectId('639529ac43d7a3e7ae9d8a38'),
 'seasonNum': 1,
 'episodeNum': 1,
 'episodeTitle': 'Winter Is Coming',
 'episodeLink': '/title/tt1480055/',
 'episodeAirDate': '2011-04-17',
 'episodeDescription': "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.",
 'openingSequenceLocations': ["King's Landing",
  'Winterfell',
  'The Wall',
  'Pentos'],
 'scenes': [{'sceneStart': '0:00:40',
   'sceneEnd': '0:01:45',
   'location': 'The Wall',
   'subLocation': 'Castle Black',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:01:45',
   'sceneEnd': '0:03:24',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:03:24',
   'sceneEnd': '0:03:31',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'},
    {'name': 'Wight Wildling Girl', 'alive': False}]},
  {'sceneStart': '0:03:31',
   'sceneEnd': '0:03:38',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:03:38',
   'sceneEnd': '0:03:44',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': []},
  {'sceneStart': '0:03:44',
   'sceneEnd': '0:05:36',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce'},
    {'name': 'Will'}]},
  {'sceneStart': '0:05:36',
   'sceneEnd': '0:05:41',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:05:41',
   'sceneEnd': '0:05:48',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'}, {'name': 'Waymar Royce'}]},
  {'sceneStart': '0:05:48',
   'sceneEnd': '0:05:58',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:05:58',
   'sceneEnd': '0:06:21',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Gared'},
    {'name': 'Waymar Royce',
     'alive': False,
     'mannerOfDeath': 'Back stab',
     'killedBy': ['White Walker']},
    {'name': 'White Walker'}]},
  {'sceneStart': '0:06:21',
   'sceneEnd': '0:06:39',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}]},
  {'sceneStart': '0:06:39',
   'sceneEnd': '0:06:49',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'}, {'name': 'Wight Wildling Girl'}]},
  {'sceneStart': '0:06:49',
   'sceneEnd': '0:07:45',
   'location': 'North of the Wall',
   'subLocation': 'The Haunted Forest',
   'characters': [{'name': 'Will'},
    {'name': 'Gared',
     'alive': False,
     'mannerOfDeath': 'Decapitation',
     'killedBy': ['White Walker']},
    {'name': 'White Walker'}]},
  {'sceneStart': '0:09:27',
   'sceneEnd': '0:12:38',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Will'},
    {'name': 'Jon Snow'},
    {'name': 'Bran Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Rickon Stark'},
    {'name': 'Sansa Stark'},
    {'name': 'Arya Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Septa Mordane'}]},
  {'sceneStart': '0:12:38',
   'sceneEnd': '0:15:41',
   'location': 'The North',
   'subLocation': 'Outside Winterfell',
   'characters': [{'name': 'Will',
     'alive': False,
     'mannerOfDeath': 'Decapitation',
     'killedBy': ['Eddard Stark']},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]},
    {'name': 'Robb Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Bran Stark'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Jory Cassel'},
    {'name': 'Jon Snow'}]},
  {'sceneStart': '0:15:41',
   'sceneEnd': '0:18:44',
   'location': 'The North',
   'subLocation': 'Outside Winterfell',
   'characters': [{'name': 'Jon Snow'},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]},
    {'name': 'Theon Greyjoy'},
    {'name': 'Bran Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Jory Cassel'},
    {'name': 'Grey Wind'},
    {'name': 'Lady'},
    {'name': 'Nymeria'},
    {'name': 'Summer'},
    {'name': 'Shaggydog'},
    {'name': 'Ghost'}]},
  {'sceneStart': '0:18:44',
   'sceneEnd': '0:20:45',
   'location': 'The Crownlands',
   'subLocation': "King's Landing",
   'characters': [{'name': 'Jon Arryn',
     'alive': False,
     'title': 'Hand',
     'mannerOfDeath': 'Poison',
     'killedBy': ['Lysa Arryn']},
    {'name': 'Cersei Lannister'},
    {'name': 'Jaime Lannister'}]},
  {'sceneStart': '0:20:45',
   'sceneEnd': '0:22:43',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'},
    {'name': 'Eddard Stark', 'weapon': [{'action': 'has', 'name': 'Ice'}]}]},
  {'sceneStart': '0:22:43',
   'sceneEnd': '0:23:09',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'}, {'name': 'Maester Luwin'}]},
  {'sceneStart': '0:23:09',
   'sceneEnd': '0:23:39',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robb Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Jon Snow'}]},
  {'sceneStart': '0:23:39',
   'sceneEnd': '0:29:16',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Bran Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Maester Luwin'},
    {'name': 'Summer'},
    {'name': 'Arya Stark'},
    {'name': 'Joffrey Baratheon',
     'weapon': [{'action': 'has', 'name': "Lion's Tooth"}]},
    {'name': 'Sandor Clegane'},
    {'name': 'Rickon Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Sansa Stark'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Jon Snow'},
    {'name': 'Jory Cassel'},
    {'name': 'Hodor'},
    {'name': 'Rodrik Cassel'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Cersei Lannister'},
    {'name': 'Jaime Lannister'},
    {'name': 'Myrcella Baratheon'},
    {'name': 'Tommen Baratheon'}]},
  {'sceneStart': '0:29:16',
   'sceneEnd': '0:30:47',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Eddard Stark'}]},
  {'sceneStart': '0:30:47',
   'sceneEnd': '0:32:57',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Jaime Lannister'},
    {'name': 'Tyrion Lannister',
     'sex': {'with': ['Ros'], 'type': 'paid', 'when': 'present'}},
    {'name': 'Ros',
     'sex': {'with': ['Tyrion Lannister'],
      'type': 'paid',
      'when': 'present'}}]},
  {'sceneStart': '0:32:57',
   'sceneEnd': '0:33:45',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Eddard Stark'}]},
  {'sceneStart': '0:33:45',
   'sceneEnd': '0:36:17',
   'location': 'Pentos',
   'characters': [{'name': 'Daenerys Targaryen'},
    {'name': 'Viserys Targaryen'}]},
  {'sceneStart': '0:36:17',
   'sceneEnd': '0:38:23',
   'location': 'Pentos',
   'characters': [{'name': 'Daenerys Targaryen'},
    {'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Khal Drogo', 'title': 'Khal'},
    {'name': 'Qotho'}]},
  {'sceneStart': '0:38:23',
   'sceneEnd': '0:40:05',
   'location': 'Pentos',
   'characters': [{'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Daenerys Targaryen'}]},
  {'sceneStart': '0:40:05',
   'sceneEnd': '0:40:56',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Catelyn Stark'}, {'name': 'Sansa Stark'}]},
  {'sceneStart': '0:40:56',
   'sceneEnd': '0:41:19',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Catelyn Stark'},
    {'name': 'Cersei Lannister'},
    {'name': 'Rodrik Cassel'}]},
  {'sceneStart': '0:41:19',
   'sceneEnd': '0:44:14',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Jon Snow'},
    {'name': 'Benjen Stark'},
    {'name': 'Tyrion Lannister'}]},
  {'sceneStart': '0:44:14',
   'sceneEnd': '0:47:28',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Rodrik Cassel'},
    {'name': 'Benjen Stark'},
    {'name': 'Eddard Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Catelyn Stark'},
    {'name': 'Cersei Lannister'},
    {'name': 'Sansa Stark'},
    {'name': 'Joffrey Baratheon'},
    {'name': 'Jaime Lannister'},
    {'name': 'Arya Stark'},
    {'name': 'Theon Greyjoy'}]},
  {'sceneStart': '0:47:28',
   'sceneEnd': '0:50:29',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Eddard Stark'},
    {'name': 'Catelyn Stark'},
    {'name': 'Maester Luwin'}]},
  {'sceneStart': '0:50:29',
   'sceneEnd': '0:56:05',
   'location': 'Pentos',
   'characters': [{'name': 'Khal Drogo',
     'title': 'Khal',
     'married': {'to': 'Daenerys Targaryen',
      'when': 'present',
      'type': 'arranged',
      'consummated': True}},
    {'name': 'Daenerys Targaryen',
     'title': 'Khaleesi',
     'married': {'to': 'Khal Drogo',
      'when': 'present',
      'type': 'arranged',
      'consummated': True}},
    {'name': 'Viserys Targaryen'},
    {'name': 'Illyrio Mopatis'},
    {'name': 'Qotho'},
    {'name': 'Jorah Mormont'},
    {'name': 'Drogon', 'born': False},
    {'name': 'Rhaegal', 'born': False},
    {'name': 'Viserion', 'born': False}]},
  {'sceneStart': '0:56:05',
   'sceneEnd': '0:57:48',
   'location': 'Pentos',
   'characters': [{'name': 'Khal Drogo',
     'title': 'Khal',
     'sex': {'with': ['Daenerys Targaryen'],
      'when': 'present',
      'type': 'rape'}},
    {'name': 'Daenerys Targaryen',
     'title': 'Khaleesi',
     'sex': {'with': ['Khal Drogo'], 'when': 'present', 'type': 'rape'}}]},
  {'sceneStart': '0:57:48',
   'sceneEnd': '0:59:06',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Tyrion Lannister'},
    {'name': 'Sandor Clegane'},
    {'name': 'Theon Greyjoy'},
    {'name': 'Eddard Stark'},
    {'name': 'Benjen Stark'},
    {'name': 'Robb Stark'},
    {'name': 'Robert Baratheon', 'title': 'King'},
    {'name': 'Bran Stark'},
    {'name': 'Summer'}]},
  {'sceneStart': '0:59:06',
   'sceneEnd': '1:00:57',
   'location': 'The North',
   'subLocation': 'Winterfell',
   'characters': [{'name': 'Bran Stark'},
    {'name': 'Summer'},
    {'name': 'Jaime Lannister',
     'sex': {'with': ['Cersei Lannister'], 'when': 'present', 'type': 'love'}},
    {'name': 'Cersei Lannister',
     'sex': {'with': ['Jaime Lannister'],
      'when': 'present',
      'type': 'love'}}]}]}

In [31]:
cc = client['hw4']['characters'].find_one(
    {"characterName": "Sansa Stark"}
)

In [32]:
cc

{'_id': ObjectId('639529ad43d7a3e7ae9d8bad'),
 'characterName': 'Sansa Stark',
 'houseName': 'Stark',
 'characterImageThumb': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1._SX100_SY140_.jpg',
 'characterImageFull': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1_SY1000_CR0,0,806,1000_AL_.jpg',
 'characterLink': '/character/ch0158137/',
 'actorName': 'Sophie Turner',
 'actorLink': '/name/nm3849842/',
 'royal': True,
 'siblings': ['Robb Stark', 'Arya Stark', 'Bran Stark', 'Rickon Stark'],
 'marriedEngaged': ['Joffrey Baratheon', 'Tyrion Lannister', 'Ramsay Snow'],
 'guardedBy': ['Lady'],
 'parents': ['Eddard Stark', 'Catelyn Stark']}

### Load MySQL

- The ```data``` directory contains 5 CSV files:
    - ```got_cast.csv```
    - ```got_cast_details.csv```
    - ```got_episodes.csv```
    - ```got_title_ratings.csv```
    - ```got_title_cast.csv```
    
    
- Create a MySQL databases ```w4111_f22_hw4``` and load the CSV files. You should use Pandas to load and save the information.


- Put your code in the cells below and execute it.

In [19]:
import pandas as pd
import numpy as np
import pymysql

# Data reading and cleaning
# got_cast
got_cast_csv = pd.read_csv('.\data\got_cast.csv', index_col=False, delimiter = ',')
del got_cast_csv["id"]
got_cast_csv = got_cast_csv.where(pd.notnull(got_cast_csv), None)
got_cast_csv = got_cast_csv.astype(object).replace(np.nan, None)
# got_cast_details
got_cast_details_csv = pd.read_csv('.\data\got_cast_details.csv', index_col=False, delimiter = ',')
del got_cast_details_csv["id"]
got_cast_details_csv = got_cast_details_csv.where(pd.notnull(got_cast_details_csv), None)
got_cast_details_csv = got_cast_details_csv.astype(object).replace(np.nan, None)
# got_episodes
got_episodes_csv = pd.read_csv('.\data\got_episodes.csv', index_col=False, delimiter = ',')
del got_episodes_csv["id"]
got_episodes_csv = got_episodes_csv.where(pd.notnull(got_episodes_csv), None)
got_episodes_csv = got_episodes_csv.astype(object).replace(np.nan, None)
# got_title_ratings
got_title_ratings_csv = pd.read_csv('.\data\got_title_ratings.csv', index_col=False, delimiter = ',')
del got_title_ratings_csv["id"]
got_title_ratings_csv = got_title_ratings_csv.where(pd.notnull(got_title_ratings_csv), None)
got_title_ratings_csv = got_title_ratings_csv.astype(object).replace(np.nan, None)
# got_title_cast
got_title_cast_csv = pd.read_csv('.\data\got_title_cast.csv', index_col=False, delimiter = ',')
got_title_cast_csv = got_title_cast_csv.where(pd.notnull(got_title_cast_csv), None)
got_title_cast_csv = got_title_cast_csv.astype(object).replace(np.nan, None)

# Connect to MySQL database
conn = pymysql.connect(
    user="root",
    password="dbuserdbuser",
    host="localhost",
    autocommit=True,
    cursorclass=pymysql.cursors.DictCursor, 
)
cursor = conn.cursor()

# Create database
## cursor.execute("CREATE DATABASE w4111_f22_hw4")
cursor.execute('use w4111_f22_hw4;')

# Build table go_cast
cursor.execute('DROP TABLE IF EXISTS got_cast;')
cursor.execute("CREATE TABLE got_cast(tconst varchar(255),ordering decimal(4),\
                nconst varchar(255),category varchar(255), job varchar(255), \
                characters varchar(255))")
for i,row in got_cast_csv.iterrows():
    sql = "INSERT INTO w4111_f22_hw4.got_cast VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

# Build table got_cast_details
cursor.execute('DROP TABLE IF EXISTS got_cast_details;')
cursor.execute("CREATE TABLE got_cast_details(nconst varchar(255),primaryName \
                varchar(255), birthYear decimal(4),deathYear decimal(4),\
                primaryProfession varchar(255),knownForTitles varchar(255))")
for i,row in got_cast_details_csv.iterrows():
    sql = "INSERT INTO w4111_f22_hw4.got_cast_details VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()
    
# Build table got_episodes
cursor.execute('DROP TABLE IF EXISTS got_episodes;')
cursor.execute("CREATE TABLE got_episodes(seasonNum decimal(4), episodeNum decimal(4), \
                episodeTitle varchar(255), episodeLink varchar(255), episodeAirDate DATE, \
                episodeDescription varchar(255))")
for i,row in got_episodes_csv.iterrows():
    sql = "INSERT INTO w4111_f22_hw4.got_episodes VALUES (%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()
    
# Build table got_title_ratings
cursor.execute('DROP TABLE IF EXISTS got_title_ratings;')
cursor.execute("CREATE TABLE got_title_ratings(tconst varchar(255), averageRating double, \
                numVotes decimal(6))")
for i,row in got_title_ratings_csv.iterrows():
    sql = "INSERT INTO w4111_f22_hw4.got_title_ratings VALUES (%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()
    
# Build table got_title_cast
cursor.execute('DROP TABLE IF EXISTS got_title_cast;')
cursor.execute("CREATE TABLE got_title_cast(nconst varchar(255), tconst varchar(255), \
                characters varchar(255))")
for i,row in got_title_cast_csv.iterrows():
    sql = "INSERT INTO w4111_f22_hw4.got_title_cast VALUES (%s,%s,%s)"
    cursor.execute(sql, tuple(row))
    conn.commit()

- The following will test your loading.

In [51]:
%sql select * from w4111_f22_hw4.got_cast limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('tt1480055', Decimal('10'), 'nm0230361', 'producer', 'producer', None),
 ('tt1480055', Decimal('1'), 'nm0000293', 'actor', None, '["Eddard \'Ned\' Stark"]'),
 ('tt1480055', Decimal('2'), 'nm0004692', 'actor', None, '["Robert Baratheon"]'),
 ('tt1480055', Decimal('3'), 'nm0182666', 'actor', None, '["Jaime Lannister"]'),
 ('tt1480055', Decimal('4'), 'nm0265610', 'actress', None, '["Catelyn Stark"]'),
 ('tt1480055', Decimal('5'), 'nm0887700', 'director', None, None),
 ('tt1480055', Decimal('6'), 'nm1125275', 'writer', 'created by', None),
 ('tt1480055', Decimal('7'), 'nm1888967', 'writer', 'created by', None),
 ('tt1480055', Decimal('8'), 'nm0552333', 'writer', 'based on "A Song of Ice and Fire" by', None),
 ('tt1480055', Decimal('9'), 'nm0122251', 'producer', 'producer', None)]

In [52]:
%sql select * from w4111_f22_hw4.got_cast_details limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('nm0230361', 'Frank Doelger', None, None, 'producer,director,writer', 'tt0985040,tt0139780,tt0944947,tt0202179'),
 ('nm0000293', 'Sean Bean', Decimal('1959'), None, 'actor,producer,animation_department', 'tt1181791,tt0944947,tt0120737,tt0167261'),
 ('nm0004692', 'Mark Addy', Decimal('1964'), None, 'actor,soundtrack', 'tt0183790,tt0944947,tt0119164,tt0955308'),
 ('nm0182666', 'Nikolaj Coster-Waldau', Decimal('1970'), None, 'actor,producer,writer', 'tt0110631,tt1483013,tt0944947,tt2404233'),
 ('nm0265610', 'Michelle Fairley', Decimal('1963'), None, 'actress', 'tt2431286,tt0944947,tt1390411,tt11188010'),
 ('nm0887700', 'Timothy Van Patten', Decimal('1959'), None, 'director,actor,producer', 'tt0083739,tt0979432,tt0374463,tt0141842'),
 ('nm1125275', 'David Benioff', Decimal('1970'), None, 'producer,writer,director', 'tt1025100,tt0944947,tt0419887,tt0307901'),
 ('nm1888967', 'D.B. Weiss', Decimal('1971'), None, 'writer,producer,director', 'tt11547156,tt12141112,tt3677548,tt0944947'),
 ('nm0552333', 'George R.R. Martin', Decimal('1948'), None, 'writer,producer,miscellaneous', 'tt0944947,tt11198330,tt0088634,tt0092319'),
 ('nm0122251', 'Jo Burn', None, None, 'miscellaneous,production_manager,producer', 'tt1596342,tt4530422,tt5697572,tt2798920')]

In [53]:
%sql select * from w4111_f22_hw4.got_episodes limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(Decimal('1'), Decimal('1'), 'Winter Is Coming', '/title/tt1480055/', datetime.date(2011, 4, 17), "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army."),
 (Decimal('1'), Decimal('2'), 'The Kingsroad', '/title/tt1668746/', datetime.date(2011, 4, 24), "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them."),
 (Decimal('1'), Decimal('3'), 'Lord Snow', '/title/tt1829962/', datetime.date(2011, 5, 1), "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm."),
 (Decimal('1'), Decimal('4'), 'Cripples, Bastards, and Broken Things', '/title/tt1829963/', datetime.date(2011, 5, 8), "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch."),
 (Decimal('1'), Decimal('5'), 'The Wolf and the Lion', '/title/tt1829964/', datetime.date(2011, 5, 15), 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.'),
 (Decimal('1'), Decimal('6'), 'A Golden Crown', '/title/tt1837862/', datetime.date(2011, 5, 22), 'While recovering from his battle with Jaime, Eddard is forced to run the kingdom while Robert goes hunting. Tyrion demands a trial by combat for his freedom. Viserys is losing his patience with Drogo.'),
 (Decimal('1'), Decimal('7'), 'You Win or You Die', '/title/tt1837863/', datetime.date(2011, 5, 29), "Robert has been injured while hunting and is dying. Jon and the others finally take their vows to the Night's Watch. A man, sent by Robert, is captured for trying to poison Daenerys. Furious, Drogo vows to attack the Seven Kingdoms."),
 (Decimal('1'), Decimal('8'), 'The Pointy End', '/title/tt1837864/', datetime.date(2011, 6, 5), 'Eddard and his men are betrayed and captured by the Lannisters. When word reaches Robb, he plans to go to war to rescue them. The White Walkers attack The Wall. Tyrion returns to his father with some new friends.'),
 (Decimal('1'), Decimal('9'), 'Baelor', '/title/tt1851398/', datetime.date(2011, 6, 12), "Robb goes to war against the Lannisters. Jon finds himself struggling on deciding if his place is with Robb or the Night's Watch. Drogo has fallen ill from a fresh battle wound. Daenerys is desperate to save him."),
 (Decimal('1'), Decimal('10'), 'Fire and Blood', '/title/tt1851397/', datetime.date(2011, 6, 19), "With Ned dead, Robb vows to get revenge on the Lannisters. Jon must officially decide if his place is with Robb or the Night's Watch. Daenerys says her final goodbye to Drogo.")]

In [54]:
%sql select * from w4111_f22_hw4.got_title_ratings limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('tt1480055', 8.9, Decimal('48686')),
 ('tt1668746', 8.6, Decimal('36837')),
 ('tt1829962', 8.5, Decimal('34863')),
 ('tt1829963', 8.6, Decimal('33136')),
 ('tt1829964', 9.0, Decimal('34436')),
 ('tt1837862', 9.1, Decimal('34050')),
 ('tt1837863', 9.1, Decimal('34564')),
 ('tt1837864', 8.9, Decimal('32339')),
 ('tt1851398', 9.6, Decimal('45134')),
 ('tt1851397', 9.4, Decimal('39748'))]

In [55]:
%sql select * from w4111_f22_hw4.got_title_cast limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('nm0000293', 'tt1480055', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1480055', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1480055', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1668746', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1668746', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1668746', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1829962', '["Eddard \'Ned\' Stark"]'),
 ('nm0004692', 'tt1829962', '["Robert Baratheon"]'),
 ('nm0182666', 'tt1829962', '["Jaime Lannister"]'),
 ('nm0000293', 'tt1829963', '["Eddard \'Ned\' Stark"]')]

### Load Neo4j

- You are now going to load some information into Neo4j. Specifically, the Game of Thrones episodes, the Game of Thrones cast, and the Game of Thrones title-cast information.


- You can load the data into the notebook from the RDB using Pandas and SQLAlchemy.


- You will use ```py2neo``` to do the loading into Neo4j. The functions are later in the notebook.


- I decided to make this easier and give you some helper functions instead of having you figure it out by yourself.

#### Load SQL into DataFrames

In [20]:
# Put your code here to read the data.
# 
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost/w4111_f22_hw4").connect()

episodes_df = pd.read_sql_table('got_episodes', engine)
episodes_df['episodeLink'] = episodes_df['episodeLink'].replace('/title/', '', regex=True).replace('/', '', regex=True)
episodes_df = episodes_df.rename(columns={'episodeLink': 'tconst'})
episodes_df = episodes_df.astype({"seasonNum":"int","episodeNum":"int","episodeAirDate":"str"})

cast_df = pd.read_sql_table('got_cast_details', engine)
cast_df['birthYear'] = cast_df['birthYear'].fillna(0)
cast_df = cast_df.astype({"birthYear":"int"})
cast_df['birthYear'] = cast_df['birthYear'].replace(0, None)
cast_df = cast_df.astype(object).replace(np.nan, None)

titles_cast_df = pd.read_sql_table('got_title_cast', engine)

In [21]:
import pandas

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

- The following tests whether or not your loading worked.

In [24]:
episodes_df

,seasonNum,episodeNum,episodeTitle,tconst,episodeAirDate,episodeDescription
0,1,1,Winter Is Coming,tt1480055,2011-04-17,"Jon Arryn, the Hand of the King, is dead. King..."
1,1,2,The Kingsroad,tt1668746,2011-04-24,"While Bran recovers from his fall, Ned takes o..."
2,1,3,Lord Snow,tt1829962,2011-05-01,Lord Stark and his daughters arrive at King's ...
3,1,4,"Cripples, Bastards, and Broken Things",tt1829963,2011-05-08,Eddard investigates Jon Arryn's murder. Jon be...
4,1,5,The Wolf and the Lion,tt1829964,2011-05-15,Catelyn has captured Tyrion and plans to bring...
...,...,...,...,...,...,...
68,8,2,A Knight of the Seven Kingdoms,tt6027908,2019-04-21,The battle at Winterfell is approaching. Jaime...
69,8,3,The Long Night,tt6027912,2019-04-28,The Night King and his army have arrived at Wi...
70,8,4,The Last of the Starks,tt6027914,2019-05-05,"In the wake of a costly victory, Jon and Daene..."
71,8,5,The Bells,tt6027916,2019-05-12,Daenerys and Cersei weigh their options as an ...
72,8,6,The Iron Throne,tt6027920,2019-05-19,In the aftermath of the devastating attack on ...

In [25]:
cast_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0230361,Frank Doelger,None,None,"producer,director,writer","tt0985040,tt0139780,tt0944947,tt0202179"
1,nm0000293,Sean Bean,1959,None,"actor,producer,animation_department","tt1181791,tt0944947,tt0120737,tt0167261"
2,nm0004692,Mark Addy,1964,None,"actor,soundtrack","tt0183790,tt0944947,tt0119164,tt0955308"
3,nm0182666,Nikolaj Coster-Waldau,1970,None,"actor,producer,writer","tt0110631,tt1483013,tt0944947,tt2404233"
4,nm0265610,Michelle Fairley,1963,None,actress,"tt2431286,tt0944947,tt1390411,tt11188010"
5,nm0887700,Timothy Van Patten,1959,None,"director,actor,producer","tt0083739,tt0979432,tt0374463,tt0141842"
6,nm1125275,David Benioff,1970,None,"producer,writer,director","tt1025100,tt0944947,tt0419887,tt0307901"
7,nm1888967,D.B. Weiss,1971,None,"writer,producer,director","tt11547156,tt12141112,tt3677548,tt0944947"
8,nm0552333,George R.R. Martin,1948,None,"writer,producer,miscellaneous","tt0944947,tt11198330,tt0088634,tt0092319"
9,nm0122251,Jo Burn,None,None,"miscellaneous,production_manager,producer","tt1596342,tt4530422,tt5697572,tt2798920"
10,nm0400240,Mark Huffam,None,None,"producer,production_manager,assistant_director","tt11214590,tt3659388,tt0120815,tt11138512"
11,nm1047532,Brian Kirk,1968,None,"director,producer","tt0944947,tt1474684,tt8688634,tt1949720"
12,nm2643685,Bryan Cogman,1979,None,"producer,miscellaneous,writer","tt0944947,tt4872762,tt2207542"
13,nm0372176,Lena Headey,1973,None,"actress,producer,soundtrack","tt0944947,tt1374989,tt0416449,tt1343727"
14,nm0590889,Daniel Minahan,None,None,"director,producer,writer","tt0944947,tt2788432,tt1856010,tt0251031"
15,nm0260870,Jane Espenson,1964,None,"producer,writer,miscellaneous","tt0118276,tt1338724,tt2056091,tt0944947"
16,nm3592338,Emilia Clarke,1986,None,"actress,soundtrack","tt2674426,tt3778644,tt0944947,tt1340138"
17,nm0851930,Alan Taylor,1965,None,"director,producer,writer","tt0944947,tt0282768,tt1981115,tt1340138"
18,nm1014697,Ramin Djawadi,1974,None,"composer,soundtrack,music_department","tt0944947,tt0475784,tt0371746,tt1663662"
19,nm0227759,Peter Dinklage,1969,None,"actor,producer,soundtrack","tt0944947,tt1877832,tt0340377,tt5027774"
20,nm0146529,Bernadette Caulfield,None,None,"producer,production_manager,miscellaneous","tt12141112,tt0944947,tt0421030,tt0106179"
21,nm0318821,Aidan Gillen,1968,None,"actor,writer,producer","tt4500922,tt4046784,tt1345836,tt0944947"
22,nm0002399,Alik Sakharov,1959,None,"cinematographer,director,producer","tt1856010,tt5071412,tt0141842,tt0944947"
23,nm0007008,David Petrarca,None,None,"director,producer","tt0421030,tt0844441,tt0944947,tt5743796"
24,nm0961827,Vanessa Taylor,None,None,"producer,writer,miscellaneous","tt0944947,tt1840309,tt6772802,tt5580390"
25,nm0638354,David Nutter,1960,None,"director,producer,soundtrack","tt0112173,tt0374463,tt0944947,tt3107288"
26,nm0001097,Charles Dance,1946,None,"actor,director,writer","tt0944947,tt0107362,tt2084970,tt0280707"
27,nm0192377,Liam Cunningham,1961,None,"actor,director,producer","tt0944947,tt0800320,tt0460989,tt0986233"
28,nm0551076,Neil Marshall,1970,None,"producer,director,writer","tt0483607,tt9182964,tt0280609,tt0435625"
29,nm0817770,Greg Spence,None,None,"producer,production_manager,editorial_department","tt0460829,tt0944947,tt0411951,tt0416044"
30,nm3229685,Kit Harington,1986,None,"actor,writer,producer","tt9032400,tt1921064,tt0938330,tt0944947"
31,nm0628040,Christopher Newman,1955,None,"assistant_director,producer,miscellaneous","tt0120915,tt0107943,tt0185906,tt0944947"
32,nm0336241,Alex Graves,None,None,"producer,director,writer","tt0200276,tt0112746,tt3595806,tt0944947"
33,nm0533713,Michelle MacLaren,1965,None,"producer,director,production_manager","tt4998350,tt2953250,tt0944947,tt0903747"
34,nm0322513,Iain Glen,1961,None,"actor,producer,soundtrack","tt6954652,tt0944947,tt6859806,tt10370380"
35,nm0534635,Richard Madden,1986,None,"actor,producer,soundtrack","tt2066051,tt2368619,tt0944947,tt1661199"
36,nm4263213,John Bradley,1988,None,"actor,soundtrack","tt5451690,tt0944947,tt5834426,tt10223460"
37,nm2356940,Hannah Murray,1989,None,"actress,soundtrack","tt5390504,tt4180576,tt2141751,tt0944947"
38,nm3310211,Rose Leslie,1987,None,actress,"tt1618442,tt0944947,tt4520364,tt3177316"
39,nm0806252,Michael Slovis,None,None,"cinematographer,producer,director","tt7817340,tt0981227,tt0247082,tt0903747"
40,nm4984276,Dave Hill,None,None,"miscellaneous,writer,producer","tt7937220,tt7462410,tt0944947,tt3391176"
41,nm0617042,Mark Mylod,None,None,"director,producer,miscellaneous","tt0944947,tt7660850,tt1586680,tt2699110"
42,nm0226820,Stephen Dillane,1957,None,actor,"tt0944947,tt0266987,tt0274558,tt4555426"
43,nm0687964,Jeremy Podeswa,1962,None,"director,miscellaneous,writer","tt10574236,tt5834204,tt0374463,tt0944947"
44,nm0764601,Miguel Sapochnik,1974,None,"director,producer,writer","tt1053424,tt3420504,tt0944947,tt11198330"
45,nm1380874,Lisa McAtackney,None,None,"producer,production_manager,miscellaneous","tt0944947,tt0804552,tt0465670,tt0774030"
46,nm0755261,Daniel Sackheim,None,None,"producer,director,editorial_department","tt0120902,tt0412142,tt0221218,tt2356777"
47,nm0070474,Jack Bender,1949,None,"director,producer,actor","tt0411008,tt0944947,tt0285333,tt0103956"
48,nm1754059,Natalie Dormer,1982,None,"actress,writer,producer","tt10361016,tt0944947,tt0758790,tt1951266"
49,nm0787687,Matt Shakman,1975,None,"director,producer,actor","tt9140560,tt0944947,tt0472954,tt2235759"
50,nm2977599,Gursimran Sandhu,1986,None,"miscellaneous,writer,director","tt2561572,tt1910550,tt0944947,tt9737326"
51,nm7260047,Ethan J. Antonucci,None,None,"miscellaneous,writer",tt0944947

In [26]:
titles_cast_df

        nconst     tconst              characters
0    nm0000293  tt1480055  ["Eddard 'Ned' Stark"]
1    nm0004692  tt1480055    ["Robert Baratheon"]
2    nm0182666  tt1480055     ["Jaime Lannister"]
3    nm0000293  tt1668746  ["Eddard 'Ned' Stark"]
4    nm0004692  tt1668746    ["Robert Baratheon"]
..         ...        ...                     ...
160  nm0182666  tt6027914     ["Jaime Lannister"]
161  nm0227759  tt6027916    ["Tyrion Lannister"]
162  nm0182666  tt6027916     ["Jaime Lannister"]
163  nm0227759  tt6027920    ["Tyrion Lannister"]
164  nm0182666  tt6027920     ["Jaime Lannister"]

[165 rows x 3 columns]

#### Load Data into Neo4j

In [11]:
# Up until now, we have been directly using query languages to interact with databases.
# There are many higher layer language libraries that make using the databases "simpler."
# I avoided using these libraries because they obscure what is happening and hide the query language.
# Learning the query language(s) is important.
#
# py2neo and other tools provide an "object-mapping" layers that maps between the data in the databases
# and classes/objects in the programming language you are using. py2neo implements classes Node and Relationship.
#
from py2neo.data import Node, Relationship

In [12]:
graph = Graph(aura_url, auth=(aura_user, aura_pw))

- The following are a couple of helper functions that will simplify the homework.

In [13]:
# The matcher classes simplify using the query language from withon Python and classes.
#
from py2neo.matching import *

In [14]:
def get_nodes(label, template):
    """
    
    :param label: The label of the node
    :template: A dictionary of property, value pairs to match.
    :return: A list of matching nodes.
    """
    nodes = NodeMatcher(graph)
    the_match = nodes.match(label, **template)
    result = []
    for n in the_match:
        result.append(n)
    return result

In [15]:
keanu = get_nodes("Person", { "name": "Keanu Reeves" })

In [16]:
keanu

[Node('Person', born=1964, name='Keanu Reeves')]

In [15]:
def create_node(n):
    """
    :template: A py2neo Node
    :return: None
    """
    tx = graph.begin()
    tx.create(n)
    graph.commit(tx)

In [18]:
# Create an GOT_Actor node.
# 
sb = Node('GOT_Actor', name="Sean Bean", nconst="nm0000293", born=1959)

In [19]:
create_node(sb)

In [20]:
mf = Node('GOT_Actor', name="Michelle Fairley", nconst="nm0265610", born=1963)
create_node(mf)

In [21]:
# Get what we created.
got_a = get_nodes('GOT_Actor', {})

In [22]:
got_a

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293'),
 Node('GOT_Actor', born=1963, name='Michelle Fairley', nconst='nm0265610')]

In [23]:
# Create an episode.
episode_data = {'seasonNum': 1,
  'episodeNum': 1,
  'episodeTitle': 'Winter Is Coming',
  'tconst': 'tt1480055',
  'episodeAirDate': '2011-04-17',
  'episodeDescription': "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army."
}
episode_node = Node("GOT_Episode", **episode_data)

In [24]:
create_node(episode_node)

- From the table ```got_title_cast```, we can find out how acted in what episodes and roles.


- A little probing shows that Sean Bean and Michelle Fairley were in season 1, episode 1.


- So, I can create a relationship.

In [25]:
ep = get_nodes("GOT_Episode", {"seasonNum": 1, "episodeNum": 1})
ep[0]["tconst"]

'tt1480055'

In [161]:
sb = get_nodes("GOT_Actor", { "nconst": "nm0000293"})
sb

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293')]

In [27]:
mf = get_nodes("GOT_Actor", { "nconst": "nm0265610"})
mf

[Node('GOT_Actor', born=1963, name='Michelle Fairley', nconst='nm0265610')]

In [28]:
sb_roles = %sql select characters from w4111_f22_hw4.got_title_cast where \
    nconst='nm0000293' and tconst='tt1480055'
sb_roles[0]["characters"]

 * mysql+pymysql://root:***@localhost
1 rows affected.

'["Eddard \'Ned\' Stark"]'

In [162]:
ep

[Node('GOT_Episode', episodeAirDate='2011-04-17', episodeDescription="Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", episodeNum=1, episodeTitle='Winter Is Coming', seasonNum=1, tconst='tt1480055'),
 Node('GOT_Episode', episodeAirDate='2011-04-24', episodeDescription="While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", episodeNum=2, episodeTitle='The Kingsroad', seasonNum=1, tconst='tt1668746'),
 Node('GOT_Episode', episodeAirDate='2011-05-01', episodeDescription="Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", episodeNum=3, episodeTitle='Lord Snow', seasonNum=1, tconst='tt1829962'),
 Node('GOT_Episode', episodeAirDate='2011-05-08', episodeDescription="Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", episodeNum=4, episodeTitle='Cripples, Bastards, and Broken Things', seasonNum=1, tconst='tt1829963'),
 Node('GOT_Episode', episodeAirDate='2011-05-15', episodeDescription='Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', episodeNum=5, episodeTitle='The Wolf and the Lion', seasonNum=1, tconst='tt1829964'),
 Node('GOT_Episode', episodeAirDate='2011-05-22', episodeDescription='While recovering from his battle with Jaime, Eddard is forced to run the kingdom while Robert goes hunting. Tyrion demands a trial by combat for his freedom. Viserys is losing his patience with Drogo.', episodeNum=6, episodeTitle='A Golden Crown', seasonNum=1, tconst='tt1837862'),
 Node('GOT_Episode', episodeAirDate='2011-05-29', episodeDescription="Robert has been injured while hunting and is dying. Jon and the others finally take their vows to the Night's Watch. A man, sent by Robert, is captured for trying to poison Daenerys. Furious, Drogo vows to attack the Seven Kingdoms.", episodeNum=7, episodeTitle='You Win or You Die', seasonNum=1, tconst='tt1837863'),
 Node('GOT_Episode', episodeAirDate='2011-06-05', episodeDescription='Eddard and his men are betrayed and captured by the Lannisters. When word reaches Robb, he plans to go to war to rescue them. The White Walkers attack The Wall. Tyrion returns to his father with some new friends.', episodeNum=8, episodeTitle='The Pointy End', seasonNum=1, tconst='tt1837864'),
 Node('GOT_Episode', episodeAirDate='2011-06-12', episodeDescription="Robb goes to war against the Lannisters. Jon finds himself struggling on deciding if his place is with Robb or the Night's Watch. Drogo has fallen ill from a fresh battle wound. Daenerys is desperate to save him.", episodeNum=9, episodeTitle='Baelor', seasonNum=1, tconst='tt1851398'),
 Node('GOT_Episode', episodeAirDate='2011-06-19', episodeDescription="With Ned dead, Robb vows to get revenge on the Lannisters. Jon must officially decide if his place is with Robb or the Night's Watch. Daenerys says her final goodbye to Drogo.", episodeNum=10, episodeTitle='Fire and Blood', seasonNum=1, tconst='tt1851397'),
 Node('GOT_Episode', episodeAirDate='2012-04-01', episodeDescription="Tyrion arrives at King's Landing to take his father's place as Hand of the King. Stannis Baratheon plans to take the Iron Throne for his own. Robb tries to decide his next move in the war. The Night's Watch arrive at the house of Craster.", episodeNum=1, episodeTitle='The North Remembers', seasonNum=2, tconst='tt1971833'),
 Node('GOT_Episode', episodeAirDate='2012-04-08', episodeDescription="Arya makes friends with Gendry. Tyrion tries to take control of the small council. Theon arrives at his home, Pyke, in order to persuade his father into helping Robb with the war. Jon tries to investigate Craster's secret.", episodeNum=2, episodeTitle='The Night Lands', seasonNum=2, tconst='tt2069318'),
 Node('GOT_Episode', episodeAirDate='2012-04-15', episodeDescription='Tyrion tries to see who he can trust in the small council. Catelyn visits Renly to try and persuade him to join Robb in the war. Theon must decide if his loyalties lie with his own family or with Robb.', episodeNum=3, episodeTitle='What Is Dead May Never Die', seasonNum=2, tconst='tt2070135'),
 Node('GOT_Episode', episodeAirDate='2012-04-22', episodeDescription="Lord Baelish arrives at Renly's camp just before he faces off against Stannis. Daenerys and her company are welcomed into the city of Qarth. Arya, Gendry, and Hot Pie find themselves imprisoned at Harrenhal.", episodeNum=4, episodeTitle='Garden of Bones', seasonNum=2, tconst='tt2069319'),
 Node('GOT_Episode', episodeAirDate='2012-04-29', episodeDescription="Tyrion investigates a secret weapon that King Joffrey plans to use against Stannis. Meanwhile, as a token for saving his life, Jaqen H'ghar offers to kill three people that Arya chooses.", episodeNum=5, episodeTitle='The Ghost of Harrenhal', seasonNum=2, tconst='tt2074658'),
 Node('GOT_Episode', episodeAirDate='2012-05-06', episodeDescription="Theon seizes control of Winterfell. Jon captures a wildling, named Ygritte. The people of King's Landing begin to turn against King Joffrey. Daenerys looks to buy ships to sail for the Seven Kingdoms.", episodeNum=6, episodeTitle='The Old Gods and the New', seasonNum=2, tconst='tt2085238'),
 Node('GOT_Episode', episodeAirDate='2012-05-13', episodeDescription="Bran and Rickon have escaped Winterfell. Theon tries to hunt them down. Daenerys' dragons have been stolen. Jon travels through the wilderness with Ygritte as his prisoner. Sansa has bled and is now ready to have Joffrey's children.", episodeNum=7, episodeTitle='A Man Without Honor', seasonNum=2, tconst='tt2085239'),
 Node('GOT_Episode', episodeAirDate='2012-05-20', episodeDescription="Stannis is just days from King's Landing. Tyrion prepares for his arrival. Jon and Qhorin are taken prisoner by the wildlings. Catelyn is arrested for releasing Jaime. Arya, Gendry, and Hot Pie plan to escape from Harrenhal.", episodeNum=8, episodeTitle='The Prince of Winterfell', seasonNum=2, tconst='tt2085240'),
 Node('GOT_Episode', episodeAirDate='2012-05-27', episodeDescription="Stannis Baratheon's fleet and army arrive at King's Landing and the battle for the city begins. Cersei plans for her and her children's future.", episodeNum=9, episodeTitle='Blackwater', seasonNum=2, tconst='tt2084342'),
 Node('GOT_Episode', episodeAirDate='2012-06-03', episodeDescription="Joffrey puts Sansa aside for Margaery Tyrell. Robb marries Talisa Maegyr. Jon prepares to meet Mance Rayder. Arya says farewell to Jaqen H'ghar. Daenerys tries to rescue her dragons.", episodeNum=10, episodeTitle='Valar Morghulis', seasonNum=2, tconst='tt2112510'),
 Node('GOT_Episode', episodeAirDate='2013-03-31', episodeDescription="Jon is brought before Mance Rayder, the King Beyond the Wall, while the Night's Watch survivors retreat south. In King's Landing, Tyrion asks for his reward. Littlefinger offers Sansa a way out.", episodeNum=1, episodeTitle='Valar Dohaeris', seasonNum=3, tconst='tt2178782'),
 Node('GOT_Episode', episodeAirDate='2013-04-07', episodeDescription='Bran and company meet Jojen and Meera Reed. Arya, Gendry, and Hot Pie meet the Brotherhood. Jaime travels through the wilderness with Brienne. Sansa confesses her true feelings about Joffrey to Margaery.', episodeNum=2, episodeTitle='Dark Wings, Dark Words', seasonNum=3, tconst='tt2178772'),
 Node('GOT_Episode', episodeAirDate='2013-04-14', episodeDescription="Robb and Catelyn arrive at Riverrun for Lord Hoster Tully's funeral. Tywin names Tyrion the new Master of Coin. Arya says goodbye to Hot Pie. The Night's Watch returns to Craster's. Brienne and Jaime are taken prisoner.", episodeNum=3, episodeTitle='Walk of Punishment', seasonNum=3, tconst='tt2178802'),
 Node('GOT_Episode', episodeAirDate='2013-04-21', episodeDescription="Jaime mopes over his lost hand. Cersei is growing uncomfortable with the Tyrells. The Night's Watch is growing impatient with Craster. Daenerys buys the Unsullied.", episodeNum=4, episodeTitle='And Now His Watch Is Ended', seasonNum=3, tconst='tt2178798'),
 Node('GOT_Episode', episodeAirDate='2013-04-28', episodeDescription="Robb's army is falling apart. Jaime reveals a story, to Brienne, that he has never told anyone. Jon breaks his vows. The Hound is granted his freedom. The Lannisters hatch a new plan.", episodeNum=5, episodeTitle='Kissed by Fire', seasonNum=3, tconst='tt2178788'),
 Node('GOT_Episode', episodeAirDate='2013-05-05', episodeDescription='Jon and the wildlings scale The Wall. The Brotherhood sells Gendry to Melisandre. Robb does what he can to win back the Freys. Tyrion tells Sansa about their engagement.', episodeNum=6, episodeTitle='The Climb', seasonNum=3, tconst='tt2178812'),
 Node('GOT_Episode', episodeAirDate='2013-05-12', episodeDescription="Jon and the wildlings travel south of The Wall. Talisa tells Robb that she's pregnant. Arya runs away from the Brotherhood. Daenerys arrives at Yunkai. Jaime leaves Brienne behind at Harrenhal.", episodeNum=7, episodeTitle='The Bear and the Maiden Fair', seasonNum=3, tconst='tt2178814'),
 Node('GOT_Episode', episodeAirDate='2013-05-19', episodeDescription='Daenerys tries to persuade the Second Sons to join her against Yunkai. Stannis releases Davos from the dungeons. Sam and Gilly are attacked by a White Walker. Sansa and Tyrion wed.', episodeNum=8, episodeTitle='Second Sons', seasonNum=3, tconst='tt2178806'),
 Node('GOT_Episode', episodeAirDate='2013-06-02', episodeDescription="Robb and Catelyn arrive at the Twins for the wedding. Jon is put to the test to see where his loyalties truly lie. Bran's group decides to split up. Daenerys plans an invasion of Yunkai.", episodeNum=9, episodeTitle='The Rains of Castamere', seasonNum=3, tconst='tt2178784'),
 Node('GOT_Episode', episodeAirDate='2013-06-09', episodeDescription="Bran and company travel beyond The Wall. Sam returns to Castle Black. Jon says good bye to Ygritte. Jaime returns to King's Landing. The Night's Watch asks for help from Stannis.", episodeNum=10, episodeTitle='Mhysa', seasonNum=3, tconst='tt2178796'),
 Node('GOT_Episode', episodeAirDate='2014-04-06', episodeDescription="Tyrion welcomes a guest to King's Landing. At Castle Black, Jon stands trial. Daenerys is pointed to Meereen, the mother of all slave cities. Arya runs into an old enemy.", episodeNum=1, episodeTitle='Two Swords', seasonNum=4, tconst='tt2816136'),
 Node('GOT_Episode', episodeAirDate='2014-04-13', episodeDescription="Joffrey and Margaery's wedding has come. Tyrion breaks up with Shae. Ramsay tries to prove his worth to his father. Bran and company find a Weirwood tree.", episodeNum=2, episodeTitle='The Lion and the Rose', seasonNum=4, tconst='tt2832378'),
 Node('GOT_Episode', episodeAirDate='2014-04-20', episodeDescription="Tyrion is arrested for the murder of Joffrey and awaits trial. Sansa escapes King's Landing. Sam sends Gilly to Mole's Town as the Night's Watch finds itself in a tight spot. Meereen challenges Daenerys.", episodeNum=3, episodeTitle='Breaker of Chains', seasonNum=4, tconst='tt2972426'),
 Node('GOT_Episode', episodeAirDate='2014-04-27', episodeDescription="Jaime entrusts a task to Brienne. Daenerys frees Meereen. Jon is given permission to lead a group of Night's Watchmen to Craster's Keep. Bran and company are taken hostage.", episodeNum=4, episodeTitle='Oathkeeper', seasonNum=4, tconst='tt2972428'),
 Node('GOT_Episode', episodeAirDate='2014-05-04', episodeDescription="Tommen is crowned King of the Seven Kingdoms. Cersei builds her case against Tyrion. Sansa and Lord Baelish arrive at the Eyrie. The Night's Watch attacks Craster's Keep.", episodeNum=5, episodeTitle='First of His Name', seasonNum=4, tconst='tt3060856'),
 Node('GOT_Episode', episodeAirDate='2014-05-11', episodeDescription="Tyrion's trial has come. Yara and her troops storm the Dreadfort to free Theon. Daenerys meets Hizdar zo Loraq. Stannis makes a deal with the Iron Bank of Braavos.", episodeNum=6, episodeTitle='The Laws of Gods and Men', seasonNum=4, tconst='tt3060910'),
 Node('GOT_Episode', episodeAirDate='2014-05-18', episodeDescription="Tyrion tries to find a champion. Daenerys sleeps with Daario. The Hound becomes wounded. Jon's advice is ignored at Castle Black. Brienne and Podrick receive a tip on Arya's whereabouts.", episodeNum=7, episodeTitle='Mockingbird', seasonNum=4, tconst='tt3060876'),
 Node('GOT_Episode', episodeAirDate='2014-06-01', episodeDescription="Theon helps Ramsay seize Moat Cailin. The wildlings attack Mole's Town. Sansa comes up with a story to protect Lord Baelish. Daenerys finds out a secret about Ser Jorah. Oberyn Martell faces Ser Gregor Clegane.", episodeNum=8, episodeTitle='The Mountain and the Viper', seasonNum=4, tconst='tt3060782'),
 Node('GOT_Episode', episodeAirDate='2014-06-08', episodeDescription="The battle between the Night's Watch and the Wildlings has come.", episodeNum=9, episodeTitle='The Watchers on the Wall', seasonNum=4, tconst='tt3060858'),
 Node('GOT_Episode', episodeAirDate='2014-06-15', episodeDescription="The Night's Watch story continues, with surprising developments. Daenerys experiences new consequences. Brienne and Podrick have an unexpected encounter. Bran achieves a goal, while Tyrion makes an important discovery.", episodeNum=10, episodeTitle='The Children', seasonNum=4, tconst='tt3060860'),
 Node('GOT_Episode', episodeAirDate='2015-03-29', episodeDescription='Cersei and Jaime adjust to a world without Tywin. Tyrion and Varys arrive at Pentos. In Meereen, a new enemy emerges. Jon is caught between two kings.', episodeNum=1, episodeTitle='The Wars to Come', seasonNum=5, tconst='tt3658012'),
 Node('GOT_Episode', episodeAirDate='2015-04-19', episodeDescription="Arya arrives in Braavos. Jaime takes on a secret mission. Ellaria Sand seeks revenge for Oberyn's death. Stannis makes Jon a generous offer as the Night's Watch elects a new Lord Commander. Daenerys is faced with a difficult decision.", episodeNum=2, episodeTitle='The House of Black and White', seasonNum=5, tconst='tt3846626'),
 Node('GOT_Episode', episodeAirDate='2015-04-26', episodeDescription='Tommen and Margaery wed. Arya has trouble adapting to her new life. Littlefinger reveals his plans to Sansa. Jon gives his first orders as Lord Commander. Tyrion and Varys arrive in Volantis.', episodeNum=3, episodeTitle='High Sparrow', seasonNum=5, tconst='tt3866836'),
 Node('GOT_Episode', episodeAirDate='2015-05-03', episodeDescription='Jorah Mormont sets sail alongside his prisoner, Tyrion. Cersei makes a move against the Tyrells. Jaime and Bronn sneak into Dorne. Ellaria and the Sand Snakes make their plans. Melisandre tempts Jon. The Harpies attack.', episodeNum=4, episodeTitle='Sons of the Harpy', seasonNum=5, tconst='tt3866838'),
 Node('GOT_Episode', episodeAirDate='2015-05-10', episodeDescription="Daenerys arrests the heads of Meereen's great families. Jon makes a difficult decision. Theon is forced to face Sansa. Stannis rides south. Tyrion and Jorah enter the ruins of Old Valyria.", episodeNum=5, episodeTitle='Kill the Boy', seasonNum=5, tconst='tt3866840'),
 Node('GOT_Episode', episodeAirDate='2015-05-17', episodeDescription='Arya is put to the test. Tyrion and Jorah are captured by slavers. Loras Tyrell is judged by the Sparrows. Jaime and Bronn face the Sand Snakes. Sansa marries Ramsay Bolton.', episodeNum=6, episodeTitle='Unbowed, Unbent, Unbroken', seasonNum=5, tconst='tt3866842'),
 Node('GOT_Episode', episodeAirDate='2015-05-24', episodeDescription='Jon heads east as trouble begins to stir for Sam and Gilly at Castle Black. Sansa asks Theon for help. Tyrion and Jorah are sold as slaves. Cersei savors her triumph over the Tyrells as new plots are developed in the shadows.', episodeNum=7, episodeTitle='The Gift', seasonNum=5, tconst='tt3866846'),
 Node('GOT_Episode', episodeAirDate='2015-05-31', episodeDescription='Tyrion advises Daenerys. Sansa forces Theon to tell her a secret. Cersei remains stubborn. Arya meets her first target. Jon and Tormund meet with the Wildling Elders.', episodeNum=8, episodeTitle='Hardhome', seasonNum=5, tconst='tt3866850'),
 Node('GOT_Episode', episodeAirDate='2015-06-07', episodeDescription='Jon and the Wildlings return to Castle Black. Jaime meets with Doran Martell. Stannis makes a hard choice. Arya runs into Ser Meryn Trant. Daenerys attends the grand reopening of the fighting pits.', episodeNum=9, episodeTitle='The Dance of Dragons', seasonNum=5, tconst='tt3866826'),
 Node('GOT_Episode', episodeAirDate='2015-06-14', episodeDescription='Stannis arrives at Winterfell. Tyrion runs Meereen as Daario and Jorah go after Daenerys. Jaime and Myrcella leave Dorne. Jon sends Sam and Gilly to Oldtown. Arya challenges the Many-Faced God. Cersei confesses her sins.', episodeNum=10, episodeTitle="Mother's Mercy", seasonNum=5, tconst='tt3866862'),
 Node('GOT_Episode', episodeAirDate='2016-04-24', episodeDescription='The fate of Jon Snow is revealed. Daenerys is brought before Khal Moro. Tyrion gets used to living in Meereen. Ramsay sends his dogs after Theon and Sansa. Ellaria and the Sand Snakes make their move. Cersei mourns for Myrcella.', episodeNum=1, episodeTitle='The Red Woman', seasonNum=6, tconst='tt3658014'),
 Node('GOT_Episode', episodeAirDate='2016-05-01', episodeDescription="Bran trains with the Three-Eyed Raven. Tommen meets with Cersei. Tyrion makes a bold move. Theon leaves while at Pyke new issues arise. Ramsay's brother is born. Davos asks Melisandre for a miracle.", episodeNum=2, episodeTitle='Home', seasonNum=6, tconst='tt4077554'),
 Node('GOT_Episode', episodeAirDate='2016-05-08', episodeDescription='Daenerys arrives at Vaes Dothrak. Sam and Gilly sail for Horn Hill. Arya trains as No One. Varys finds information on the Sons of the Harpy. Ramsay receives a gift. Tommen meets with the High Sparrow. At Castle Black, a miracle occurs.', episodeNum=3, episodeTitle='Oathbreaker', seasonNum=6, tconst='tt4131606'),
 Node('GOT_Episode', episodeAirDate='2016-05-15', episodeDescription='Sansa arrives at Castle Black. Tyrion makes a deal with the Slave Masters. Jorah and Daario sneak into Vaes Dothrak. Ramsay sends a letter to Jon. Theon arrives at Pyke. Cersei and Olenna Tyrell plot against the High Sparrow.', episodeNum=4, episodeTitle='Book of the Stranger', seasonNum=6, tconst='tt4283016'),
 Node('GOT_Episode', episodeAirDate='2016-05-22', episodeDescription='Sansa and Jon make plans. Arya is given another chance to prove herself. Jorah confesses a secret to Daenerys. Tyrion meets with a Red Priestess. Yara finds her rule tested. Bran discovers the origin of the White Walkers.', episodeNum=5, episodeTitle='The Door', seasonNum=6, tconst='tt4283028'),
 Node('GOT_Episode', episodeAirDate='2016-05-29', episodeDescription="Bran and Meera find a new ally. Gilly meets Sam's family. Arya makes a difficult choice. The Lannisters and Tyrells march against the High Sparrow.", episodeNum=6, episodeTitle='Blood of My Blood', seasonNum=6, tconst='tt4283054'),
 Node('GOT_Episode', episodeAirDate='2016-06-05', episodeDescription="Jon and Sansa gather troops. Jaime arrives at Riverrun. Olenna Tyrell plans to leave King's Landing. Theon and Yara plan a destination. Arya makes plans to leave.", episodeNum=7, episodeTitle='The Broken Man', seasonNum=6, tconst='tt4283060'),

In [30]:
sb

[Node('GOT_Actor', born=1959, name='Sean Bean', nconst='nm0000293')]

In [16]:
def create_relationship(source, label, target, properties):
    tx = graph.begin()
    r = Relationship(source, label, target)
    tx.create(r)
    graph.commit(tx)

In [32]:
r = create_relationship(sb[0], "GOT_Acted_In", ep[0], {"roles": ["Eddard 'Ned' Start"]})

In [33]:
r = create_relationship(mf[0], "GOT_Acted_In", ep[0], {"roles": ["Catelyn Stark"]})

- When I run a query in my Neo4j console, I get the following.

| <img src="./q_result.png"> |
| :--: |
| __Simple Query Result |

- Your task is to now use your skills and my helper code to load episodes, actors and relationships.


- Please put your code below, and then past some screenshots.

In [195]:
# Import data
for i in range(len(cast_df)):
    # Read name, nconst and born
    name_sql = cast_df.values[i][1]
    nconst_sql = cast_df.values[i][0]
    born_sql = cast_df.values[i][2]
    # Create node for each actor
    sb = Node('GOT_Actor', name=name_sql, nconst=nconst_sql, born=born_sql)
    create_node(sb)
for i in range(len(episodes_df)):
    episode_data = episodes_df.to_dict('records')[i]
    episode_node = Node("GOT_Episode", seasonNum=episode_data["seasonNum"], episodeNum=episode_data["episodeNum"],\
                        episodeTitle=episode_data["episodeTitle"], tconst=episode_data["tconst"], \
                        episodeAirDate=episode_data["episodeAirDate"], episodeDescription=episode_data["episodeDescription"])
    create_node(episode_node)

In [196]:
import json
# Create relationship
ep = get_nodes("GOT_Episode", {})
for i in range(len(ep)):
    # Find all actor and actress from each episode
    tconst = ep[i]["tconst"]
    query_str = "select nconst from w4111_f22_hw4.got_title_cast where tconst='tconst_tmp'"
    query_str = query_str.replace("tconst_tmp", tconst)
    nconst = %sql $query_str
    # Dig all actors' detail from Neo4j
    for j in range(len(nconst)):
        neo_query = '{ "nconst": "nconst_tmp"}'
        neo_query = json.loads(neo_query.replace("nconst_tmp", nconst[j]['nconst']))
        actor_detail = get_nodes("GOT_Actor", neo_query)
        ## print(actor_detail)
        # Find character for this actor/actress
        query2_str = "select characters from w4111_f22_hw4.got_title_cast where nconst='nconst_tmp' and tconst='tconst_tmp'"
        query2_str = query2_str.replace("nconst_tmp", actor_detail[0]['nconst']).replace("tconst_tmp", tconst)
        character = %sql $query2_str
        ## print(character[0]['characters'])
        # Add relationship to Neo4j
        neo_query2 =  '{ "roles": "roles_tmp"}'
        character_tmp = character[0]['characters'].replace('["','').replace('"]','')
        neo_query2 = json.loads(neo_query2.replace("roles_tmp", character_tmp))
        r = create_relationship(actor_detail[0], "GOT_Acted_In", ep[i], neo_query2)

 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
3 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

The screenshot after creating relationships:

| <img src="./q_result_all_relationships.jpg"> |
| :--: |
| Query Result for Relationships |

## Programming Track

- I am canceling the programming track. I will explain how to use what we just did in a web application, but piling on more work at this point would be cruel.

## Non-Programming Track

- I am canceling the non-programming track. I will explain how to use what we just did in data science, but piling on more work at this point would be cruel.